footer {
	background: #242424;
	padding:35px 0;
	color:#fff;
	.copyright {
		
	}
	.foot-links {
					
		ul {
				text-align: right;
			li {
				display: inline;
				padding-left:15px;
				
				a {
					color:#fff;
				}
			}
	}
		
	}
}
