<div class="col-md-3 resource-item" >
	<div >
		<div class="resource-item-wrap equal">
			<a class="download-link" href="{{ link }}" >
			<div class="resource-item-cover">
				
			</div>
			<div class="resource-item-details">
				<div class="resource-item-title">{{ post_title }} <p class="count">Downloaded ()</p></div>
			</a>
			</div>
		</div>
	</div>
</div>
